services:
  eve-bot:
    build: .
    restart: always
    env_file:
      - .env
    deploy:
      resources:
        limits:
          memory: 128M  
          cpus: '0.10' 
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"  